#######################################
# Logging Constants / global variables
#######################################
LOGFILE='' #Will be set based on input file
LOGLEVEL='DEBUG'
#whether to create log per input file (1=true, 0=false)
LOG_PER_INPUT_FILE=0

##########################
# console colours / fonts
##########################
RED=$(tput setaf 1)
YELLOW=$(tput setaf 3)
GREEN=$(tput setaf 2)
BOLD=$(tput bold)
NORMAL=$(tput sgr0)
is_test=1

###########################################
# Special case Constants / global variables
###########################################

#'|' delimited string of roles. These roles will be added by default for all caseworkers
DEFAULT_ROLES="caseworker"

DEFAULT_CASEWORKER_ROLE="caseworker"

#'|' delimited string of roles. These roles should not be processed by this script as they require a snow ticket
MANUAL_ROLES="judiciary"

#####################################
# Operations supported by this script
#####################################
OPS=("add" "updatename" "delete" "find")

IA_ROLES="caseworker-ia|caseworker-ia-bulkscan"
SSCS_ROLES="caseworker-sscs|caseworker-sscs-admin"

# multi-line
JSON_ROLES="{
    \"IA_ROLES\":\"${IA_ROLES}\",
    \"SSCS_ROLES\":\"${SSCS_ROLES}\"
}"